<!DOCTYPE html>
<html data-ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/src/stylesheets/style.css' />
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="/src/javascripts/app.js"></script>
    <script src="/src/javascripts/services/todosService.js"></script>
    <script src="/src/javascripts/controllers/todoController.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>

    <div data-ng-view></div>

  </body>
</html>
