<!DOCTYPE html>
<html data-ng-app="app">
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width,initial-scale=1">
    <link rel='stylesheet' href="libs/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href="../src/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="/dist/js/app.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class"page-header">
        <h1><%= title %></h1>
      </div>
      <div class="jumbotron">
        <div data-ng-view></div>
      </div>
    </div>
  </body>
</html>
