<button ng-click="myFilter = {completed:false}">Not completed </button>
<button ng-click="myFilter = {completed:true}">Completed </button>
<button ng-click="myFilter = {}">All</button>
<ul>
  <li ng-repeat="todo in todos | filter: myFilter">
    <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
    <a href="#/{{todo._id}}" ng-show="!editing[$index]">{{todo.name}}</a>
    <button ng-show="!editing[$index]" ng-click="delete($index)">Delete</button>
    <button ng-show="!editing[$index]" ng-click="edit($index)">Edit</button>
    <input type="text" ng-show="editing[$index]" ng-model="todo.name">
    <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
  </li>
</ul>
<button ng-click="showme=true">Add a new one</button>
<div ng-show="showme">
  New Task: <input type="text" ng-model="newTodo.todo"><br/>
  Note:     <input type="text" ng-model="newTodo.note"><br/>
  <button ng-click="save(); showme=false">Save</button>
</div>

